<footer>
  <div class="container">
    <div class="main">
      <div class="content">
        <ul>
          <li>
            <a href="index.html">首頁</a>
          </li>
          <li>
            <a href="optical.html">系列鏡框</a>
          </li>
          <li>
            <a href="stores.html">門市據點</a>
          </li>
          <li>
            <a href="blogs.html">部落格</a>
          </li>
          <li>
            <a href="faq.html">常見問題</a>
          </li>
        </ul>
        <div class="contact">
          <span class="material-symbols-outlined">call</span>
          <a href="tel:+0800000000">0800-000-000</a>
        </div>
        <div class="contact">
          <span class="material-symbols-outlined">mail</span>
          <a href="mailto:glasses@business.com">glasses@business.com</a>
        </div>
      </div>
      <div class="logo">
        <ul>
          <li>
            <a href="#">
              <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/ic-social-fb.png?raw=true" alt="facebook">
            </a>
          </li>
          <li>
            <a href="#">
              <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/ic_social_ig.png?raw=true" alt="instagram">
            </a>
          </li>
          <li>
            <a href="#">
              <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/ic_social_line.png?raw=true" alt="line">
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="copyright">
      <p>Copyright © 2020 Glasses.All rights reserved.</p>
      <div class="terms">
        <p>隱私權政策</p>
        <p>服務條款</p>
      </div>
    </div>
  </div>
</footer>