<nav class="nav-blog">
  <div class="container">
    <ul>
      <li>
        <a href="#"><p>最新消息</p></a>
      </li>
      <li>
        <a href="#"><p>特別企劃</p></a>
      </li>
      <li>
        <a href="#"><p>新品上市</p></a>
      </li>
      <li>
        <a href="#"><p>鏡框小知識</p></a>
      </li>
    </ul>
    <a href="#">
      <span class="material-symbols-outlined">
        search
      </span>
    </a>
  </div>
</nav>