.container {
  max-width: 1296px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .container {
    margin-left: 36px;
    margin-right: 36px;
  }
}

@media(max-width: 767px){
  .container {
    margin-left: 14px;
    margin-right: 14px;
  }
}