.product {
  .menu {
    .container {
      ul {
        display: flex;
        a {
            width: 33.33%;
            color: #000;
          li {
            font-size: 32px;
            line-height: 48px;
            font-family: $text-secondary;
            font-weight: 500;
            text-align: center;
            padding: 24px 0;
            border: 1px solid #DCDCDC;
            &:hover {
              background: $secondary;
            }
          }
          .active {
            padding-bottom: 16px;
            border-bottom: 8px solid $primary;
          }
        }
      }
    }
    .header {
      display: flex;
      background: #FFF;
      .headerImg1, .headerImg2, .headerImg3, .headerImg4 {
        width: 50%;
        height: 296px;
        background-size: cover;
        background-position: center center;
      }
      .headerImg1 {
        background-image: url('https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-header-1.png?raw=true');
      }
      .headerImg2 {
        background-image: url('https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-header-2.png?raw=true');
      }
      .headerImg3 {
        background-image: url('https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-header-3.png?raw=true');
      }
      .headerImg4 {
        background-image: url('https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-header-4.png?raw=true');
      }
    }
  }
  main {
    padding-top: 80px;
    text-align: center;
    .container {
      h2 {
        font-size: 42px;
        line-height: 63px;
        font-family: $text-secondary;
        font-weight: 500;
      }
      h1 {
        font-size: 32px;
        line-height: 48px;
        font-family: $text-primary;
        margin-bottom: 32px;
      }
      .card-optical, .card-sunglasses {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        .card {
          margin-bottom: 56px;
          img {
            width: 100%;
          }
          .card-body {
            font-size: 24px;
            line-height: 36px;
            font-family: $text-secondary;
            display: flex;
            justify-content: space-between;
            align-items: center;
            p {
              font-weight: 500;
              color: $primary
            }
          }
          .card-footer {
            display: flex;
            gap: 8px;
            .color1 {
              width: 24px;
              height: 24px;
              background: #5F3E2D;
              border-radius: 4px;
            }
            .color2 {
              width: 24px;
              height: 24px;
              background: #B75929;
              border-radius: 4px;
            }
          }
        }
      }
      .card-optical {
        .card {
          width: calc(25% - 18px);
        }
      }
      .card-sunglasses {
        .card {
          width: calc(33.33% - 16px);
        }
      }
    }
  }
}

.pagination {
  margin: 80px 0;
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    a.disabled {
      pointer-events: none;
      cursor: default;
    }
    li {
      color: #555555;
      border: 1px solid #555555;
      padding: 12px 16px;
      font-family: $text-secondary;
      font-size: 18px;
      line-height: 27px;
      white-space: nowrap;
      &:hover {
        background: $secondary;
      }
    }
    .prev, .next {
      padding: 11px 12px;
      font-size: 19px;
      line-height: 29px;
    }
    .next {
      background: #F2F2F2;
      &:hover {
        background: #F2F2F2;
      }
    }
    .active {
      background: #000;
      color: #FFF;
      &:hover {
        background: #000;
      }
    }
  }
}

@media(max-width: 1199px){
  .product {
    .menu {
      .container {
        margin-left: 0;
        margin-right: 0;
        ul {
          a {
            li {
              font-size: 24px;
              line-height: 36px;
              padding: 16px 0;
            }
            .active {
              padding-bottom: 8px;
            }
          }
        }
      }
      .header {
        .headerImg1, .headerImg2, .headerImg3, .headerImg4 {
          height: 136px;
        }
        .headerImg1 {
          background-image: url('https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-header-sm-1.png?raw=true');
        }
        .headerImg2 {
          background-image: url('https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-header-sm-2.png?raw=true');
        }
        .headerIm3 {
          background-image: url('https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-header-sm-3.png?raw=true');
        }
        .headerImg4 {
          background-image: url('https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-header-sm-4.png?raw=true');
        }
      }
    }
    main {
      .container {
        .card-optical, .card-sunglasses {
          .card {
            width: calc(50% - 12px);
            margin-bottom: 16px;
          }
        }
      }
    }
  }
}

@media(max-width: 767px){
  .product {
    .menu {
      .container {
        margin-left: 0;
        margin-right: 0;
        ul {
          a {
            li {
              font-size: 16px;
              line-height: 24px;
              padding: 16px 0;
            }
          }
        }
      }
    }
    main {
      padding-top: 40px;
      .container {
        h2 {
          font-size: 24px;
          line-height: 36px;
        }
        h1 {
          font-size: 24px;
          line-height: 36px;
          margin-bottom: 24px;
        }
        .card-optical, .card-sunglasses {
          .card {
            width: 100%;
            margin-bottom: 0;
          }
        }
      }
    }
  }

  .pagination {
    margin: 64px 0;
    ul {
      li {
        font-size: 16px;
        line-height: 24px;
      }
      .prev, .next {
        font-size: 16px;
        line-height: 26px;
      }
    }
  }
}



@media(max-width: 374px){
  .product {
    .menu {
      .container {
        ul {
          a {
            li {
              font-size: 12px;
              line-height: 20px;
            }
          }
        }
      }
    }
  }

  .pagination {
    ul {
      li {
        display: none;
      }
      .prev, .next {
        display: block;
      }
    }
  }
}